# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Dataset
data/
data/mvtec/
data/mvtec_raw/

# Models
models/best_model_phase1.keras
models/best_model_phase2.keras

# Logs
logs/

# TensorBoard
events.out.*

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Results
results/*.png
results/*.json
